{% extends 'base.html' %}

{% load static %}
{% block head %}
<script src="{% static 'javascript/haplotype.js' %}" ></script>

{% endblock head %}

{% block content %}
 <!-- Include Bootstrap CSS -->
 <style>
    .button {
        background: #283E70;
        border: 1px solid #283E70;
        width: 8rem;
        height: 4rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .edit-button {
        background: none;
        border: none;
        color: #fff;
    }

    .edit-button:hover {
        color: #007cc2
    }

    .full-width {
        width: 100%;
    }
    th {
        width: 20%; /* if you have 5 columns, each taking up an equal amount of space */
    }
        
 </style>
 <div class="container mt-2">
    <div class="row">
        <div class="col-md-8">
            <div style="overflow:auto; height:80vh;"> <!-- div to make table scrollable -->
                <form action={% url 'data_editor' population=population %} method="post" class="ml-3">
                {% csrf_token %}
                <table class="table table-striped text-center">
                    <thead class="bg-primary text-white sticky-top" style="background-color: #283E70 !important; top:0; z-index: 100;">
                        <tr>
                            <th scope="col" colspan="5" class="text-left fs-2 align-items-center p-4 " style="background-color: #283E70; text-align: left;">
                                <div class="d-flex justify-content-between w-100">
                                    {% if edit_mode %}
                                        <input name="new_population" type="text" class="form-control text-left fs-2 fw-bold" style="width: 15rem;" value={{population}}>
                                    {% else %}
                                        <div>{{population}}</div>
                                    {% endif %}
                                    <div>
                                        
                                            
                                            {% if edit_mode %}
                                                <button type="submit" name="done" class="btn btn-primary">Done</button>
                                            {% else %}
                                                <button type="submit" name="edit" class="edit-button"><i class="fa-regular fa-pen-to-square"></i></button>
                                            {% endif %}
                                        
                                    </div>
                                </div>
                            </th>
                        </tr>                                               
                        <tr>
                            <th scope="col">Haplotype</th>
                            <th scope="col">Chromosome</th>
                            <th scope="col">SSLP</th>
                            <th scope="col">%</th>
                            <th scope="col">Permissive</th>
                        </tr>
                    </thead>
                    <tbody id="haplotable">
                        {% for row in table_data %}
                            {% if edit_mode %}
                                <tr>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <input name="haplo" type="text" class="form-control text-center" style="width: 6rem;" value={{row.haplo}}>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <input name="chr" type="text" class="form-control text-center" style="width: 6rem;" value={{row.chr}}>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <input name="SSLP" type="text" class="form-control text-center" style="width: 6rem;" value={{row.SSLP}}>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <input name="percent" type="text" class="form-control text-center" style="width: 6rem;" value={{row.percent}}>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <select name="perm" class="form-select text-center" aria-label="Permissive">
                                                {% if row.perm == '1' %}
                                                    <option value="1" selected>True</option>
                                                    <option value="0">False</option>
                                                {% elif row.perm == '0' %}
                                                    <option value="1">True</option>
                                                    <option value="0" selected>False</option>
                                                {% else %}
                                                    <option value="" selected>Select Value</option>
                                                    <option value="1">True</option>
                                                    <option value="0" >False</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>{{row.haplo}}</td>
                                    <td>{{row.chr}}</td>
                                    <td>{{row.SSLP}}</td>
                                    <td>{{row.percent}}%</td>
                                    <td>{% if row.perm == "1" %}True{% else %}False{% endif %}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>                    
                </table>
                </form>
            </div>
        </div>
            <div class="col-md-4">
                <div class="border p-3 mt-2 d-flex flex-column justify-content-center align-items-center">
                    {% for population in  population_options%}
                        <a type="button" class="btn btn-primary mt-2 button" href={% url 'data_editor' population  %}>{{population}}</a>
                    {% endfor %}
                </div>
            </div>
    </div>
</div>
{% endblock content %}
