{% extends 'base.html' %}

{% block content %}
 <!-- Include Bootstrap CSS -->
 <style>
    .button {
        background: #283E70;
        border: 1px solid #283E70;
        width: 8rem;
        height: 4rem;
    }
 </style>
 <div class="container">
    <div class="row">
        <div class="col-md-8">
            <div style="overflow:auto; height:80vh;"> <!-- div to make table scrollable -->
                <table class="table table-striped mt-2">
                    <thead class="bg-primary text-white sticky-top" style="background-color: #283E70 !important; top:0; z-index: 100;"> <!-- added sticky-top class and additional CSS -->
                        <tr>
                            <th scope="col" colspan="5" class="text-left fs-2" style="background-color: #283E70;">{{population}}</th>
                        </tr>
                        <tr>
                            <th scope="col">Haplotype</th>
                            <th scope="col">Chromosome</th>
                            <th scope="col">SSLP</th>
                            <th scope="col">%</th>
                            <th scope="col">Permissive</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in table_data %}
                        <tr>
                            <td>{{row.haplo}}</td>
                            <td>{{row.chr}}</td>
                            <td>{{row.SSLP}}</td>
                            <td>{{row.percent}}%</td>
                            <td>{{row.perm}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="border p-3 mt-2 d-flex flex-column">
                <button type="button" class="btn btn-primary mt-2 button">Button 1</button>
                <button type="button" class="btn btn-primary mt-2">Button 2</button>
                <button type="button" class="btn btn-primary mt-2">Button 3</button>
            </div>
        </div>        
    </div>
</div>
{% endblock content %}
