{% extends 'base.html' %}

{% block content %}
 <!-- Include Bootstrap CSS -->
 <style>
    .button {
        background: #283E70;
        border: 1px solid #283E70;
        width: 8rem;
        height: 4rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
    }
 </style>
 <div class="container mt-2">
    <div class="row">
        <div class="col-md-8">
            <div style="overflow:auto; height:80vh;"> <!-- div to make table scrollable -->
                <table class="table table-striped text-center">
                    <thead class="bg-primary text-white sticky-top" style="background-color: #283E70 !important; top:0; z-index: 100;">
                        <tr>
                            <th scope="col" colspan="5" class="text-left fs-2 d-flex justify-content-start align-items-center" style="background-color: #283E70; text-align: left;">
                                {{population}}
                                <form action={% url 'data_editor' population=population %} method="post">
                                    {% csrf_token %}

                                    <button type="submit" name="edit" class=" btn btn-primary">Edit</button>
                                </form>
                            </th>
                        </tr>
                        <tr>
                            <th scope="col">Haplotype</th>
                            <th scope="col">Chromosome</th>
                            <th scope="col">SSLP</th>
                            <th scope="col">%</th>
                            <th scope="col">Permissive</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in table_data %}
                        {% if edit_mode %}
                        <tr>
                            <td><input type="text" class="form-control text-center" style="width: 6rem;" value={{row.haplo}}></td>
                            <td><input type="text" class="form-control text-center" style="width: 6rem;" value={{row.chr}}></td>
                            <td><input type="text" class="form-control text-center" style="width: 6rem;" value={{row.SSLP}}></td>
                            <td><input type="text" class="form-control text-center" style="width: 6rem;" value={{row.percent}}></td>
                            <td>
                                <select class="form-select" aria-label="Permissive">
                                {% if row.perm == '1' %}
                                <option value="1" selected>True</option>
                                <option value="0">False</option>
                                {% else %}
                                <option value="1">True</option>
                                <option value="0" selected>False</option>
                                {% endif %}
                              </select></td>
                        </tr>
                        
                        {% else %}
                        <tr>
                            <td>{{row.haplo}}</td>
                            <td>{{row.chr}}</td>
                            <td>{{row.SSLP}}</td>
                            <td>{{row.percent}}%</td>
                            <td>{% if row.perm == "1" %}True{% else %}False{% endif %}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
            <div class="col-md-4">
                <div class="border p-3 mt-2 d-flex flex-column justify-content-center align-items-center">
                    {% for population in  population_options%}
                        <a type="button" class="btn btn-primary mt-2 button" href={% url 'data_editor' population  %}>{{population}}</a>
                    {% endfor %}
                </div>
            </div>
    </div>
</div>
{% endblock content %}
