<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <title>Homepage</title>


    <style>
        .body {
            overflow-y: hidden;
        }

        .bg-light-gray {
            background-color: #D0CFCF;
        }

        .text-color-sidefield {
            color: #283E70;
            text-decoration: underline #283E70;
        }

        .btn-dark-blue {
            color: #fff;
            background-color: #283E70 !important;
            border-color: #001f3f;
        }

        .btn-dark-blue:hover {
            color: #fff;
            background-color: #003366 !important;
            border-color: #003366;
        }

        .height-class {
            height: 50vh;
        }


        .width-class-sidefield {
            width: 10rem !important;
        }

        .titles-text-class {
            font-family: 'Inter', sans-serif;
            font-size: 30px;
            font-weight: 700;
            text-align: center;
            justify-content: flex-end;
        }


    </style>
</head>

{% extends 'base.html' %}
{% block content %}
<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10" style="margin: auto;">
                <h1 class=titles-text-class id="Title">Title</h1>
            </div>
            <div class="col-lg-2 width-class-sidefield">
                <h4 class=titles-text-class>Saved</h4>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-10 height-class">
                <table class="table table-striped height-class">
                    <thead style="background-color: #283E70; color: #ffffff">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    </tbody>
                </table>
                <div class="container d-flex align-items-center justify-content-center">
                    <div class="row">
                        <div class="col btn-col">
                            <div class="dropdown">
                                <button class="btn btn-primary btn-dark-blue dropdown-toggle" type="button" id="dropdownButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Button 1
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownButton1">
                                    <a class="dropdown-item" href="#">Dropdown 1 - Item 1</a>
                                    <a class="dropdown-item" href="#">Dropdown 1 - Item 2</a>
                                    <a class="dropdown-item" href="#">Dropdown 1 - Item 3</a>
                                </div>
                            </div>
                        </div>
                        <div class="col btn-col">
                            <div class="dropdown">
                                <button class="btn btn-primary btn-dark-blue dropdown-toggle" type="button" id="dropdownButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Button 2
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownButton2">
                                    <a class="dropdown-item" href="#">Dropdown 2 - Item 1</a>
                                    <a class="dropdown-item" href="#">Dropdown 2 - Item 2</a>
                                    <a class="dropdown-item" href="#">Dropdown 2 - Item 3</a>
                                </div>
                            </div>
                        </div>
                        <div class="col btn-col">
                            <div class="dropdown">
                                <button class="btn btn-primary btn-dark-blue dropdown-toggle" type="button" id="dropdownButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Button 3
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownButton3">
                                    <a class="dropdown-item" href="#">Dropdown 3 - Item 1</a>
                                    <a class="dropdown-item" href="#">Dropdown 3 - Item 2</a>
                                    <a class="dropdown-item" href="#">Dropdown 3 - Item 3</a>
                                </div>
                            </div>
                        </div>
                        <div class="col btn-col">
                            <div class="dropdown">
                                <button class="btn btn-primary btn-dark-blue dropdown-toggle" type="button" id="dropdownButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Button 4
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownButton4">
                                    <a class="dropdown-item" href="#">Dropdown 4 - Item 1</a>
                                    <a class="dropdown-item" href="#">Dropdown 4 - Item 2</a>
                                    <a class="dropdown-item" href="#">Dropdown 4 - Item 3</a>
                                </div>
                            </div>
                        </div>
                        <div class="col btn-col">
                            <div class="dropdown">
                                <button class="btn btn-primary btn-dark-blue dropdown-toggle" type="button" id="dropdownButton5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Button 5
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownButton5">
                                    <a class="dropdown-item" href="#">Dropdown 5 - Item 1</a>
                                    <a class="dropdown-item" href="#">Dropdown 5 - Item 2</a>
                                    <a class="dropdown-item" href="#">Dropdown 5 - Item 3</a>
                                </div>
                            </div>
                        </div>
                        <div class="col btn-col">
                            <button class="btn btn-primary btn-dark-blue">Button 6
                            </button>
                        </div>
                        <div class="col btn-col">
                            <button class="btn btn-primary btn-dark-blue">Button 7
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 bg-light-gray height-class width-class-sidefield">
                <div class="text text-color-sidefield p-4">
                    <p>tempresult</p>
                    <div class="d-flex justify-content-center">

                    </div>
                </div>

            </div>
            <div class="container d-flex align-items-center justify-content-center">

                <button class="btn btn-primary btn-dark-blue">
                    Export
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!DOCTYPE html>
<html lang="en">




